@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200; 400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: rgb(0, 0, 0);
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 0.5rem calc((100vw - 1300px) / 2);
  top: 0;
  z-index: 10;
  border-bottom: 2px solid rgb(0, 0, 0);
}

#logo {
  font-size: 40px;
  margin-left: 35px;
  font-weight: 900;
}

#logo > a {
  color: #f3f3f3;
  text-decoration: none;
}

#logo > a:hover {
  color: #84da6c;
  text-decoration: none;
}

#hamburger-menu {
  display: none;
}

.nav-items {
  display: flex;
  font-weight: 500;
  list-style-type: none;
  margin-right: 78px;
}

li > a {
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-decoration: none;
  margin: 0 1rem;
}

li > a:hover {
  color: #84da6c;
}

.home {
  background-color: #000000;
  color: #dcdcdc;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-container {
  color: rgb(255, 255, 255);
  display: flex;
  height: 85vh;
}

.section-one {
  width: 55%;
  padding: 15% 0 10% 15%;
}

.section-two {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0%;
}

.section-two > img {
  border: 10px solid #dcdcdc;
  border-radius: 50%;
  width: 380px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.section-one > p {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 15px;
}

.landing-h1 {
  font-size: 76px;
  font-weight: 300;
}

.landing-h2 {
  background: -webkit-linear-gradient(
    60deg,
    rgba(255, 173, 30, 1) 0%,
    rgba(255, 86, 174, 1) 33%,
    rgba(21, 250, 255, 1) 75%,
    rgba(203, 255, 21, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
  background-size: 400% 400%;
  font-size: 60px;
  font-weight: 900;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.landing-h3 {
  font-size: 20px;
  font-weight: 200;
  margin-top: 15px;
}

#landing-btn {
  background-color: #000000;
  border: 2px solid #84da6c;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  width: 200px;
  margin: 30px 0;
}

#landing-btn:hover {
  border: 2px solid #fbe353;
}

#landing-btn > a {
  text-decoration: none;
  color: #84da6c;
}

.about-container {
  height: 50vh;
  padding: 7% 14%;
}

.experience-hobbies {
  display: flex;
}

.experiences {
  background-color: #fbe353;
  width: 60%;
  height: 645px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}

.experiences > img {
  width: 200px;
  height: 200px;
  border: none;
  margin: 3px;
}

.hobbies {
  background-color: #1b1b1b;
  width: 40%;
  height: 645px;
  padding: 3%;
}

.about-h1 {
  color: #84da6c;
  font-size: 45px;
  margin-bottom: 15px;
  text-align: center;
}

.top-about > p {
  font-size: 20px;
  text-align: center;
}

.e-h-h1 {
  color: #fff;
  text-align: center;
  padding: 3% 7%;
}

.hobbies > h2 {
  font-weight: 500;
  color: #fbe353;
}

ul > li {
  font-weight: 200;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  position: relative;
  left: 20px;
}

.contact-container {
  height: 80vh;
  text-align: center;
  color: #fff;
  height: 83vh;
}

.contact-container > h1 {
  padding-top: 50px;
  font-size: 55px;
}

.contact-container > h3 {
  font-size: 23px;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.top {
  display: flex;
}

.name {
  display: flex;
  flex-direction: column;
  width: 330px;
  text-align: left;
  position: relative;
  right: 20px;
}

.input {
  height: 45px;
  margin: 5px 0;
  font-size: 14px;
  padding: 2%;
  border: none;
  background-color: #efefef;
  margin-bottom: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 330px;
  text-align: left;
  position: relative;
  left: 20px;
}

.message {
  text-align: left;
}

textarea {
  border: none;
  display: block;
  /* margin: 5px auto; */
  width: 700px;
  font-size: 14px;
  background-color: #efefef;
  font-family: 'Inter', sans-serif;
  padding: 1%;
  margin-top: 8px;
}

#submit {
  cursor: pointer;
  height: 50px;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  background-color: #84da6c;
  margin-top: 20px;
}

#submit:hover {
  background-color: #fbe353;
}

/* Experience Styles */

.resume-container {
  background-color: rgb(0, 0, 0);
  height: 80vh;
  border: 2px solid rgb(255, 255, 255);
  margin: 50px;
  box-shadow: 5px 10px;
}

.info-container {
  color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 50px 40px;
  padding: 5px;
}

.resume-heading {
  font-weight: 700;
  margin: 40px 0 10px 0;
}

.resume-heading-container {
  display: flex;
  height: 400px;
  width: 100%;

  padding: 5px;
}

.header-col {
  margin: 10px;
  padding: 10px;
  width: 350px;
}

.info-col {
  margin: 10px;
  padding: 10px;
  width: 420px;
}

.col2 {
  margin-left: 20px;
}

.skill {
  display: inline-block;
  outline: 1px solid rgb(227, 0, 163);
  border-radius: 30px;
  margin-top: 15px;
  padding: 22px;
  height: 10px;
  font-size: 13px;
  font-weight: 600;
  cursor: default;
}

.skill:hover {
  outline: 1px solid rgb(123, 125, 255);
}

.education-section > p {
  margin-bottom: 15px;
}

.resume-h4 {
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.company {
  font-size: 14px;
  font-weight: 500;
}

.resume-ul > li {
  color: rgb(255, 255, 255);
  font-size: 13px;
}

/* Footer Styles */
footer {
  border-top: 5px solid #fb78cd;
  background-color: #fb78cd;
  color: #fff;
  height: 5rem;
}

footer > p {
  text-align: center;
  padding-top: 20px;
}

@media screen and (max-width: 960px) {
  .section-two > img {
    width: 300px;
  }

  .section-one {
    padding: 25% 5%;
  }

  .section-one > p {
    font-size: 14px;
  }
  .landing-h1 {
    font-size: 70px;
    font-weight: 300;
  }
  .landing-h2 {
    font-size: 60px;
  }
  .landing-h3 {
    font-size: 18px;
    margin-top: 15px;
  }

  .flex-container {
    flex-direction: column;
    position: relative;
  }

  .section-one {
    width: 100%;
    text-align: center;
    padding: 8%;
  }

  .section-two {
    height: 50vh;
    width: 100%;
    justify-content: center;
  }

  .resume-container {
    height: 100%;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }

  #hamburger-menu,
  #hamburger-menu::before,
  #hamburger-menu::after {
    color: #84da6c;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    transform: translate(-100%, 60%);
    font-size: 1.9rem;
    cursor: pointer;
  }

  #hamburger-menu:hover {
    color: #fbe353;
  }

  .section-two > img {
    width: 280px;
  }

  .icon {
    display: inline;
    font-size: 40px;
  }

  .section-one {
    padding: 10%;
  }

  .section-one > p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .landing-h1 {
    font-size: 40px;
  }

  .landing-h2 {
    font-size: 43px;
    margin-bottom: 10px;
  }

  .landing-h3 {
    font-size: 14px;
  }

  .about-container {
    height: 30vh;
  }

  .about-h1 {
    font-size: 30px;
  }

  .top-about > p {
    font-size: 16px;
    text-align: center;
  }

  ul > li {
    font-weight: 200;
    color: white;
    font-size: 17px;
    margin-top: 10px;
    position: relative;
    left: 20px;
  }

  .experiences {
    height: 600px;
    width: 100%;
  }

  .hobbies {
    height: 600px;
    width: 100%;
  }

  .experience-hobbies {
    flex-direction: column;
  }

  .top {
    flex-direction: column;
  }

  .name {
    right: 0px;
  }

  .address {
    left: 0px;
  }

  textarea {
    width: 330px;
  }
}
